In [1]:
# import packages
import pandas as pd

In [2]:
#read in data
df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
#look at dataset
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [3]:
# for recommender system, use the rating column and clothing id -> isolate rating column and clothing id column
ratings = df[['Clothing ID','Rating']]
#look at the rating
ratings.head()

   Clothing ID  Rating
0          767       4
1         1080       5
2         1077       3
3         1049       5
4          847       5

In [4]:
#count Na values in these columns
# Count NaN values
nan_count = ratings.isna().sum()
print("NaN Count:")
print(nan_count)

NaN Count:
Clothing ID    0
Rating         0
dtype: int64

In [5]:
# Count blank values
blank_count = (ratings['Rating'].astype(str).str.strip() == '').sum()
print("Blank Count:")
print(blank_count)

Blank Count:
0

In [ ]:
#Check to see all ratings for a specific clothing id
target_clothing_id = 1104

# Retrieve all ratings for the specified 'Clothing ID'
ratings_for_clothing_id = ratings[ratings['Clothing ID'] == target_clothing_id]

# Display the ratings for the specified 'Clothing ID'
print(ratings_for_clothing_id)

In [ ]:
#get average rating based on the clothing id
average_ratings = ratings.groupby('Clothing ID')['Rating'].mean()

# Rename the columns in the output
average_ratings = average_ratings.reset_index()  # Reset index to include 'Clothing ID' as a column
average_ratings = average_ratings.rename(columns={'Clothing ID': 'Clothing_ID', 'Rating': 'Average_Rating'})

# Print the average ratings 
print(f"The average rating for a specific Clothing ID is: \n{average_ratings}")

In [ ]:
# Get user input for a specific 'Clothing ID'
clothing_id_input = input("Enter the Clothing ID you want to check: ")

try:
    clothing_id_input = int(clothing_id_input)
    average_rating = average_ratings.loc[average_ratings['Clothing_ID'] == clothing_id_input, 'Average_Rating'].values

    if len(average_rating) > 0:
        average_rating = average_rating[0]
        print(f"The average rating for Clothing ID {clothing_id_input} is {average_rating:.2f}.")

        # Check if the average rating is 4 or higher
        if average_rating >= 4:
            print("Yes, you should consider buying it!")
        else:
            print("No, you might want to reconsider.")
    else:
        print(f"Clothing ID {clothing_id_input} not found in the dataset.")
except ValueError:
    print("Please enter a valid integer for Clothing ID.")